

.b-plate {
bottom: 10px;
left: 50%;
position: absolute;
transform: translateX(-50%);
width: 720px;
height:300px;
background-image: url('http://localhost:8081/resources/component_art/plate.png');
background-size: cover;
}
.b-chicken {
position: absolute;
left: 50%;
transform: translateX(-50%);
width: 800px;
height:475px;
background-image: url('http://localhost:8081/resources/component_art/chicken.png');
}
.b-bread {
position: absolute;
left: 50%;
transform: translateX(-50%);
width: 720px;
height:300px;
background-image: url('http://localhost:8081/resources/component_art/blackbread.png');
}
.b-cheese {
position: absolute;
left: 50%;
transform: translateX(-50%);
width: 720px;
height:300px;
background-image: url('http://localhost:8081/resources/component_art/cheese.png');
background-size: cover;
}
.b-tomato {
position: absolute;
left: 50%;
transform: translateX(-50%);
width: 720px;
height:300px;
background-image: url('http://localhost:8081/resources/component_art/tomato.png');
background-size: cover;
}
.b-cucumber {
position: absolute;
left: 50%;
transform: translateX(-50%);
width: 720px;
height:300px;
background-image: url('http://localhost:8081/resources/component_art/cucumber.png');
background-size: cover;
}
.b-sausage {
position: absolute;
left: 50%;
transform: translateX(-50%);
width: 720px;
height:300px;
background-image: url('http://localhost:8081/resources/component_art/sausage.png');
background-size: cover;
}
.b-northEastWhiteBread {
position: absolute;
left: 50%;
transform: translateX(-50%);
width: 720px;
height:300px;
background-image: url('http://localhost:8081/resources/component_art/kirdesai.png');
background-size: cover;
}
.b-ham {
position: absolute;
left: 50%;
transform: translateX(-50%);
width: 720px;
height:300px;
background-image: url('http://localhost:8081/resources/component_art/ham.png');
background-size: cover;
}
.b-ketchup {
position: absolute;
left: 50%;
transform: translateX(-50%);
width: 720px;
height:300px;
background-image: url('http://localhost:8081/resources/component_art/ketchup.png');
background-size: cover;
}
.b-majo {
position: absolute;
left: 50%;
transform: translateX(-50%);
width: 720px;
height:300px;
background-image: url('http://localhost:8081/resources/component_art/majo.png');
background-size: cover;
}
.b-butter {
position: absolute;
left: 50%;
transform: translateX(-50%);
width: 720px;
height:300px;
background-image: url('http://localhost:8081/resources/component_art/butter.png');
background-size: cover;
}
.b-salat {
position: absolute;
left: 50%;
transform: translateX(-50%);
width: 720px;
height:300px;
background-image: url('http://localhost:8081/resources/component_art/salat.png');
background-size: cover;
}
