@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.delete-button {
  background-color: #414655; /* Green */
  border: none;
  color: white;
    text-transform: uppercase;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  /* margin: 4px 2px; */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.totalPrice {
  top: 10px;
  left: 90%;
  position: absolute;
  transform: translateX(-90%);
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.totalKcal{
top: 40px;
  left: 90%;
  position: absolute;
  transform: translateX(-90%);
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.mainbar {
   right: 0;
   bottom: 0;
   height: 100%;
   width: calc(100% - 350px);
   position: absolute;
   background-image: url('http://localhost:8081/resources/pictures/bg.jpg');
   /* background-color: #75949e; */
   background-size: cover;
   /* overflow: auto; */
}
.sidenav {
  left: 0;
  width: 350px;
  position: fixed;
  height: 100%;
  background-color: #1E2027;
}
.sidenav .main-buttons {
  list-style-type: none;
  margin: 0px 0;
  padding: 0;
  color: #fff;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.sidenav .main-buttons li {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.sidenav .main-buttons > li {
  padding: 15px 52px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.sidenav .main-buttons > li .fa {
  position: absolute;
  left: 12px;
  color: #414655;
}
.sidenav .main-buttons > li:hover, .sidenav .main-buttons > li:active, .sidenav .main-buttons > li:focus {
  background-color: #292c35;
  cursor: pointer;
}
.sidenav .main-buttons > li:hover .hidden, .sidenav .main-buttons > li:active .hidden, .sidenav .main-buttons > li:focus .hidden {
  width: 128px;
}

.hidden {
  width: 0;
  height: 100%;
  padding: 64px 0;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: #292c35;
  -moz-transition: 0.9s;
  -o-transition: 0.9s;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}
.hidden li {
  padding: 16px 24px;
}
.hidden li:hover, .hidden li:active, .hidden li:focus {
  background-color: #323541;
}

body {
  background-color: #red;
}

html, body {
  height: 100%;
}
